body{
    margin: 0;
    background-color: #282a36;
    font-family: 'Kanit', sans-serif;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    position: relative;
}
.createPageText{
    display: flex;
    margin: auto;
    color: #50FA7B;
    font-family: 'Kanit', sans-serif;
    font-weight:bolder;
    margin-top: 25px;
    font-size: 198%;
}
.createPageTop{
    width: 100%;
    display: flex;
}
.createMainSpace{
    width: 90%;
    max-width: 500px;
    height: 100vh;
    /* background-color: red; */
    margin: auto;
    /* background-color: red; */
}
.createPageCenter{
    width: 90%;
    max-width: 500px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}
.createInput{
    width: 100%;
    height:35px;
    border-radius: 5px;
    border: none;
    background-color: #58585860;
    margin-top: 8px;
    outline: none;
    color: white;
    border: solid 1px #edff57;
    font-size: 120%;
}
.createButton{
    font-family: 'Kanit', sans-serif;
    color: #41434b;
    background-color: #edff57;
    width: 101%;
    border: none;
    height: 38px;
    border-radius: 5px;
    margin-top: 27px;
    font-size: 140%;
    font-weight:bolder;
    cursor: pointer;
}
.createNameTitle{
    color: #edff57;
    font-size: 108%;
    margin-bottom: 3px;
}