body{
    margin: 0;
    background-color: #282a36;

}
a{
    text-decoration: none;
}
.mainWarpp{
    width: 100%;
    height: 100%;
}
.mainContents{
    max-width: 600px;
    /* background-color: red; */
    height: 100%;
    margin: auto;
}
@media(max-width:500px){
    .mainContents{
        width:100%;

        font-weight: 550;

    }

}
@media(main-width:501px){
    .mainContents{
    font-weight: 550;

    width: 85%;
    }


}
.topSpace{
    height: 20px;
}

.pageTitle{
    font-family: 'Kanit', sans-serif;
    font-size: 240%;
    color: #56fd80;;
    margin-top: 10px;
    /* font-weight: bolder; */
    display: flex;
    margin: auto;
    width: 100%;
}
.pageCons{
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.pageTitleText{
    margin-right:60px;
}
.appIcon{
    width: 60px;
    margin-right: 13px;
    margin-top: 3px;
}
.roomCard{
    display: flex;
    width: 90%;
    height: 98px;
    margin: auto;
    border-radius: 12px;
    background-color: #353b42;
    display: flex;
    position: relative;
}
.link{
    width: 100%;
    height: 100%;
    position: absolute;
}
.roomIcon{
    height: 80px;
    margin-top: 8px;
    margin-left: 12px;
    border-radius: 10px;

}
.roomCardText{
    width: 100%;
}
.roomTitle{
    color: white;
    display: flex;
    margin-top: 10px;
    margin-left: 16px;
    font-size: 150%;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.roomCardInfos{
    display: flex;
}
.roomPersonIcon{
    color: white;
    font-size: 250%;
    margin-top: 9px;
    margin-left: 20px;
}
.roomCardNum{
    color: white;
    margin-top:5px;
    margin-left: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 130%;
}
.RoomListlinkCopyButton{
    background-color: rgba(231, 255, 76, 0.99);
    color: rgb(38, 38, 38);
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;
    height: 25px;
    border: none;
    position: absolute;
    z-index: 1;
    margin-left: 76px;
    cursor: pointer;
}
.roomCardRight{
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 92px + 16px);
}
.mkroomButtonWarpp{
    width: 100%;
}
.mkroomButton{
    display: flex;
    border: none;
    background-color: #edff57;
    width: 89%;
    margin: auto;
    height:40px;
    border-radius: 8px;
    margin-top: 28px;
    font-size: 140%;
    color: #41434b;
    display: flex;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}
.mkroomButtonText{
    margin-top:2px;
    margin: auto;
    display: flex;
}
.createAddIcon{
    color: #41434b;
    margin-right: 8px;
    margin-top: 6px;
    font-weight: bolder;
}
.noRoomDom{
    width: 90%;
    height: 300px;
    background-color: #41434b46;
    border-radius: 10px;
    margin: auto;
    display: flex;
}
.noRoomText{
    color: rgba(255, 255, 255, 0.342);
    font-size: 150%;
    font-family: 'Kanit', sans-serif;
    margin: auto;
}
